---
import Layout from "../layouts/Layout.astro";
import InnerHero from "../components/InnerHero.astro";
import Cta from "../components/Cta.astro";
import ImageTextCol from "../components/ImageTextCol.astro";
import FeatureHighlight from "../components/FeatureHighlight.astro";

// Images used by the ImageTextCol sections
import seoImage from "../assets/images/about-us.jpg";
import ceoImage from "../assets/images/marc.jpg";

// Load page content from MD frontmatter
import { frontmatter } from "./content/about-us.md";
---

<Layout title={frontmatter.title}>
  <InnerHero
    title={frontmatter.hero.title}
    description={frontmatter.hero.description}
    buttonText={frontmatter.hero.buttonText}
    buttonLink={frontmatter.hero.buttonLink}
  />

  <main class="services-page">
    <ImageTextCol
      imageSrc={seoImage}
      imageAlt={frontmatter.intro.imageAlt}
      title={frontmatter.intro.title}
      highlightedText={frontmatter.intro.highlightedText}
      description={frontmatter.intro.description}
      accentText={frontmatter.intro.accentText}
      imagePosition={frontmatter.intro.imagePosition}
    />

    <FeatureHighlight
      title={frontmatter.philosophy.title}
      titleHighlight={frontmatter.philosophy.titleHighlight}
      description={frontmatter.philosophy.description}
      link={frontmatter.philosophy.link}
    />

    <ImageTextCol
      imageSrc={ceoImage}
      imageAlt={frontmatter.founder.imageAlt}
      title={frontmatter.founder.title}
      highlightedText={frontmatter.founder.highlightedText}
      description={frontmatter.founder.description}
      accentText={frontmatter.founder.accentText}
      imagePosition={frontmatter.founder.imagePosition}
    />

    <FeatureHighlight
      title={frontmatter.commitment.title}
      titleHighlight={frontmatter.commitment.titleHighlight}
      description={frontmatter.commitment.description}
      link={frontmatter.commitment.link}
    />

    <Cta
      title={frontmatter.cta.title}
      highlightedText={frontmatter.cta.highlightedText}
      description={frontmatter.cta.description}
      buttonText={frontmatter.cta.buttonText}
      buttonLink={frontmatter.cta.buttonLink}
    />
  </main>
</Layout>

<style>
  .pillar-card {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .pillar-card > div {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .pillar-card a {
    margin-top: auto;
  }
</style>
