---
import Layout from "../layouts/Layout.astro";
import InnerHero from "../components/InnerHero.astro";
import Cta from "../components/Cta.astro";
import PricingTable from "../components/PricingTable.astro";

// Load page content from MD frontmatter
import { frontmatter } from "./content/pricing.md";
---

<Layout title={frontmatter.title}>
  <InnerHero
    title={frontmatter.hero.title}
    description={frontmatter.hero.description}
    buttonText={frontmatter.hero.buttonText}
    buttonLink={frontmatter.hero.buttonLink}
  />

  <main>
    <PricingTable options={frontmatter.pricingOptions} />

    <Cta
      title={frontmatter.cta.title}
      highlightedText={frontmatter.cta.highlightedText}
      description={frontmatter.cta.description}
      buttonText={frontmatter.cta.buttonText}
      buttonLink={frontmatter.cta.buttonLink}
    />
  </main>
</Layout>